<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <form 
    id="add-player-form" 
    action="/players/<%= player._id %>?_method=PUT" 
    method="POST"
    >
    <label for="name-input">Name:</label>
    <input type="text" name="name" value="<%= player.name %>" id="name-input">
    <label for="position-input">Position</label>
    <select name="position" id="position-select">
      <option value="<%= player.position %>"><%= player.position %></option>
      <option value="PG">PG</option>
      <option value="SG">SG</option>
      <option value="SF">SF</option>
      <option value="PF">PF</option>
      <option value="C">C</option>
    </select>
    <label for="height-input">Height</label>
    <input type="number" name="height" value="<%= player.height %>" id="height-input-feet">
    <label for="age-input">Age</label>
    <input type="number" name="age" value="<%= player.age %>" id="age-input">
    <button type="submit">Update Player</button>
  </form>
</main>

<%- include('../partials/footer') %>