<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Player Name:</div>
    <div><%= player.name %></div>
    <div>Position:</div>
    <div><%= player.position %></div>
    <div>Height:</div>
    <div><%= player.height %></div>
    <div>Age:</div>
    <div><%= player.age %></div>
    
  </section>

  





</main>

<%- include('../partials/footer') %> 