<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Team Name:</div>
    <div><%= team.name %></div>
    <div>Coach:</div>
    <div><%= team.coach %></div>
    <div>Record:</div>
    <div><%= team.record %></div>
      <div>Players:</div>
      <ul>
        <% team.players.forEach(player => { %>
          <li><%= player.name %></li>
          <li><%= player.position %></li>
          <li><%= player.height %></li>
          <li><%= player.age %></li>
          <a href="/players/<%= player._id %>">STATS</a>
        <% }) %>
      </ul>
      <% if (team.owner.equals(user?.profile._id)) { %>
        <a href="/teams/<%= team._id %>/edit">
          <button>Edit Team</button>
        </a>
        <% } %>    
  </section>
  <% if (user) { %>
    <form id="add-player-to-team" action="/teams/<%= team._id %>/players" method="POST">
      <select name="playerId">
        <% players.forEach(player => { %>
          <option value="<%= player._id %>"><%= player.name %>
          </option>
          <% }) %> 
        </select>
        <button type="submit">Add to Team</button>
        <% } %>
  </form>





</main>

<%- include('../partials/footer') %> 