<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Team Name:</div>
    <div><%= team.name %>
      <% if (team.owner.equals(user?.profile._id)) { %>
        <a href="/teams/<%= team._id %>/edit">
          <button id="edit-button">Edit Team</button>
        </a>
        <% } %>    
    </div>
    <div>Coach:</div>
    <div><%= team.coach %></div>
    <div>Record:</div>
    <div><%= team.record %></div>
      <div>Players:</div>
      <ul>
        <% team.players.forEach(player => { %>
          <li><%= player.name %> - <%= player.position %>
          <a href="/players/<%= player._id %>">Stats</a>
          </li>
        <% }) %>
        
      </ul>
      
  </section>
  <% if (team.owner.equals(user?.profile._id)) { %>
    <form id="add-player-to-team" action="/teams/<%= team._id %>/players" method="POST">
      <select name="playerId">
        <% players.forEach(player => { %>
          <option value="<%= player._id %>"><%= player.name %>
          </option>
          <% }) %> 
        </select>
        <button id="add-button" type="submit">Add to Team</button>
        <% } %>
  </form>





</main>

<%- include('../partials/footer') %> 