<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Team Manager</h1>
  <h2>A place to easily keep track of teams, players, and their stats</h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
